<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="NorthwindSQL" providerName="System.Data.SqlClient" connectionString="Data Source=.\development;Initial Catalog=Northwind;Integrated Security=true"/>

    <add name="SERGIO_PC" providerName="System.Data.SqlClient" connectionString="Data Source=.\development;Initial Catalog=Northwind;Integrated Security=true"/>
    
    <add name="ALIEN_PC" providerName="System.Data.SqlClient" connectionString="Data Source=.\development;Initial Catalog=Northwind;Integrated Security=true"/>
    
    <add name="UnexistingSQL" providerName="System.Data.SqlClient" connectionString="Data Source=.\adsokaspdok;Initial Catalog=123;Integrated Security=true"/>

    <add name="NorthwindAccess" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Data\Northwind.mdb;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
